* {
  box-sizing: border-box;
}

.crsl {
  position: relative;
  overflow: hidden;
  width: 100%;
  user-select: none;
  cursor: grab;
  display: flex;
}

.crsl .item {
  border: 1px solid red;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.crsl .item.absolute {
  position: absolute;
  top: 0;
}
