* {
  box-sizing: border-box;
}

.crsl {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.crsl .item {
  display: none;
  width: 100%;
  border: 1px solid red;
  text-align: center;
}

.crsl .item.transition {
  transition: all 0.5s;
}

.crsl .item.active {
  display: block;
}

.crsl .item.left {
  transform: translateX(-100%);
}

.crsl .item.right {
  transform: translateX(100%);
}

.crsl .item.center {
  transform: translateX(0);
}

.crsl .item.entering {
  position: absolute;
  top: 0;
}
