* {
  box-sizing: border-box;
}

.crsl {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;
  user-select: none;
  cursor: grab;
  display: flex;
}

.crsl > * {
  display: none;
}

.crsl .item {
  display: block;
  border: 1px solid red;
  text-align: center;
  position: absolute;
  top: 0;
}
